:root {
    font-size: 14px;
}

/* =============== HEADER ========== */
header {
    max-width: 1260px;
    width: 100%;
}

/* ================ MAIN =========== */
main {
    max-width: 1260px;
    width: 100%;
}

.t-dropdown-input {
    font-size: 1.4rem;
}

.card {
    font-size: 1.2rem;
}

.card .inset-card {
    padding: 20px;
}

.inset-card p:last-child, ul {
    margin-top: 20px;
}

#grid-card {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}
