:root {
    font-size: 12px;
}

/* ===================== MAIN ============== */
#filter-button {
    flex-direction: row;
}

#grid-card {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.t-dropdown-input {
    font-size: 1.6rem;
}

.card {
    font-size: 1.2rem;
}
